.thwmscf-buttons input[type="button"]:disabled {
  display: none;
}

input#coupon_code {
  border: 1px solid $black !important;
  border-radius: 5px !important;
  padding: 8px 10px !important;
  font-family: $font-primary;
  font-size: 16px;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last,
p#billing_country_field {
  width: 50%;
  min-width: 200px;
}

.woocommerce .woocommerce-checkout .col2-set,
.woocommerce-checkout .xs-checkout-form {
  width: 48%;
  float: left;
  padding: 15px;
}

.woocommerce .woocommerce-checkout .col2-set .col-1,
.woocommerce .woocommerce-checkout .col2-set .col-2 {
  width: 100%;
  max-width: 100%;
}

#order_review_heading,
.woocommerce-checkout-review-order {
  width: 48%;
  float: right;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.woocommerce form .form-row label {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

p#billing_cellphone_field label,
p#order_comments_field label,
.woocommerce-privacy-policy-link {
  color: $black;
  font-weight: bold;
}

.woocommerce form .form-row input.input-text,
.select2-container--default .select2-selection--single {
  height: 45px !important;
  font-size: 16px;
}

.woocommerce .woocommerce-checkout .col2-set input,
.woocommerce-checkout .xs-checkout-form input,
.woocommerce form .form-row textarea,
.select2-container--default .select2-selection--single {
  border: 1px solid $black !important;
  border-radius: 5px;
  padding: 10px;
}

.woocommerce form .form-row .select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #666;
  padding: 8px 15px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 10px;
}

.xs-section-padding {
  padding-bottom: 80px;
}

.woocommerce-checkout-review-order {
  margin-bottom: 50px;

  #place_order {
    background-color: $black;
  }
}

span.woocommerce-terms-and-conditions-checkbox-text {
  font-size: 18px;
  font-weight: bold;
}

span.woocommerce-terms-and-conditions-checkbox-text a {
  text-decoration: none;
  color: $black;
  font-weight: bold;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
  font-size: 18px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 9px !important;
}

.woocommerce-checkout::after {
  content: "";
  display: block;
  clear: both;
}

.woocommerce-additional-fields {
  margin: 20px 0;
}

#forma-pagamento-entrega-wrap {
  margin-bottom: 20px;

  select#forma_pagamento_entrega {
    border: 2px solid $border-select;
    border-radius: 10px;
    padding: 10px 20px;
    @include text-select;
    color: $color-select;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    height: 100%;
  }
}

.woocommerce-table__product-name.product-name a {
  color: $black;
}

@media (max-width: 1024px) {
  .woocommerce form .form-row-first,
  .woocommerce form .form-row-last,
  .woocommerce-page form .form-row-first,
  .woocommerce-page form .form-row-last,
  p#billing_country_field {
    width: 100% !important;
  }

  .woocommerce .woocommerce-checkout .col2-set,
  .woocommerce-checkout .xs-checkout-form {
    max-width: 100%;
    width: 100%;
    float: none;
    padding: 0;
  }

  #order_review_heading,
  .woocommerce-checkout-review-order {
    width: 100%;
    max-width: 100%;
    float: none;
    padding: 20px 0 0 0;
    font-size: 16px;
  }

  .woocommerce-checkout .col2-set,
  .woocommerce-checkout-review-order {
    max-width: 100%;
  }
}
