#pg-home {
  .main-carousel {
    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 768px) {
          display: none;
        }

        &.mbl {
          display: none;

          @media (max-width: 768px) {
            display: block;
          }
        }
      }
    }

    .swiper-pagination {
      bottom: 30px;
    }
  }

  .cat-carousel {
    padding: 100px 0;

    @media (max-width: 768px) {
      margin: 0 20px;

      .container {
        padding: 0;
      }
    }

    .swiper-slide {
      border: 1px solid $border-cat;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 50px;

      h3 {
        @include title-card-cat;
        color: $black;
        margin-bottom: 20px;
      }

      img {
        width: auto;
        height: 400px;
        object-fit: contain;
        transition: transform 0.3s ease;
      }

      .btn-cat {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $black;
        border-bottom: 1px solid $black;
        margin-top: 20px;
        transition: opacity 0.3s ease;

        span {
          @include btn-cat;
        }
      }

      &:hover {
        img {
          transform: scale(1.05);
        }

        .btn-cat {
          opacity: 0.8;
        }
      }
    }

    .swiper-pagination {
      bottom: 50px;
    }
  }

  .section-about {
    margin: 100px 0;

    @media (max-width: 768px) {
      margin: 50px 0;
    }

    .title-section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    p {
      @include text-medium;
    }

    .about-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 50px;
      margin: 50px 0;

      p {
        max-width: 360px;
        text-align: justify;

        @media (max-width: 1024px) {
          max-width: 100%;
        }

        strong {
          display: block;
        }
      }

      ul {
        max-width: 700px;
        width: 100%;

        li {
          @include text-list;
          border-bottom: 1px solid $black;
          padding: 15px;

          &:first-child {
            border-top: 1px solid $black;
          }
        }
      }
    }
  }

  .format-carousel {
    padding: 50px 0;

    .swiper-slide {
      height: 600px;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      @media (max-width: 768px) {
        height: 230px;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        .btn {
          transform: scale(1.1);
        }
      }

      img {
        position: absolute;
        left: 0;
        bottom: 0;
        object-fit: cover;
        object-position: bottom center;
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease;

        @media (max-width: 768px) {
          display: block;
        }
      }

      .format-infos {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;

        .swiper-pagination {
          position: relative !important;
          top: auto;
          bottom: auto;
          left: auto;
          transform: none;
        }

        h3 {
          @include title-format;
          color: $primaryCream;
        }

        .btn {
          background-color: $primaryCream;
          color: $black;
          transition: transform 0.4s ease;
        }
      }
    }

    .all-main-carousel {
      position: relative;
      display: none;

      @media (max-width: 768px) {
        display: block;
      }

      .swiper-slide {
        @media (max-width: 768px) {
          height: 440px;
        }

        .format-infos {
          position: absolute;
          bottom: 50px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 9;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .swiper-pagination {
            position: relative !important;
            top: auto;
            bottom: auto;
            left: auto;
            transform: none;
          }

          h3 {
            @include title-format;
            color: $primaryCream;
          }
        }
      }
    }
  }
}
