#pg-home {
  .carousel-home {
    img {
      width: 100%;
    }

    .mbl {
      display: none;
    }

    .slick-arrow {
      position: absolute;
      bottom: 50%;
      transform: translateX(-50%);
      z-index: 1;
      padding: 5px;
      border: 0;
      border-radius: 50%;
      font-size: 0;
      outline: none;
      overflow: hidden;
      background: transparent;
      cursor: pointer;

      &.slick-prev {
        left: 5%;
      }

      &.slick-next {
        right: 2%;

        &::before {
          transform: rotate(180deg);
        }
      }

      &::before {
        background-image: url("./img/icons/arrow-carrossel.svg");
        background-size: 32px 32px;
        display: inline-block;
        width: 32px;
        height: 32px;
        content: "";
      }
    }
  }

  .infos-shop {
    padding: 20px 0;

    .infos-list {
      display: flex;
      justify-content: center;
      gap: 20px;
      overflow: hidden;

      .info-item {
        max-width: 240px;
        min-width: 240px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: $background-input;
        padding: 20px 10px;
        border-radius: 10px;

        .icon {
          width: 34px;
          min-width: 34px;
          height: 34px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        .title {
          @include text-top;
        }

        .description {
          @include text-description;
        }
      }
    }
  }

  .products-shop {
    padding: 50px 0;

    &.secondary {
      background-color: $background-input;
    }

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 20px;

      h2 {
        @include title-section;

        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }

    .btn {
      &.mbl {
        margin: 20px auto 0 auto;
        display: none;
      }

      @media (max-width: 768px) {
        &.mbl {
          display: flex;
        }

        &.desk {
          display: none;
        }
      }
    }
  }

  .banner-shop {
    padding: 50px 0;

    a {
      display: block;
      width: 100%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .feedback-section {
    padding: 50px 0;

    h2 {
      @include title-section;
      margin-bottom: 20px;
    }

    .feedback-list {
      .slick-slide {
        margin: 0 10px;
      }

      .slick-list {
        margin: 0 -10px;
      }

      .feedback-item {
        background-color: $background-input;
        border-radius: 10px;
        padding: 20px;

        .feedback-header {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;

          .feedback-img {
            width: 66px;
            height: 66px;
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;

            .feedback-info {
              .feedback-title {
                @include title-feedback;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #pg-home {
    .carousel-home {
      .mbl {
        display: block;
      }

      .dkp {
        display: none;
      }
    }

    .infos-shop {
      .infos-list {
        justify-content: flex-start;
        gap: 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
          display: none;
        }

        .info-item {
          flex: 0 0 calc(80% - 20px);
          scroll-snap-align: start;
        }
      }
    }
  }
}
