#single-product {
  .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    .product-detail {
      .detail-content {
        border: 1px solid $border-cat;
        padding: 50px;
      }
    }
  }
}
