.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 40px;
  padding: 0 30px;
  @include btn-cat;
  color: $white;
  border: 0;
  box-sizing: border-box;
  border-radius: 0;
  background-color: $black;
  cursor: pointer;
}
