$black: #000000;
$white: #ffffff;
$white-color: #fbf5f1;
$background-top: #f3f5d2;
$icon-color: #707070;
$background-input: #f7f6f4;
$green: #03541a;
$text-gray: #333333;
$text-gray-two: #4f4f4f;
$border-product: #e8e8e8;
$text-promotional: #757575;
$border-select: #dddddd;
$color-select: #4a4940;
$green-btn: #83b435;
$background-card: #fff9e7;
$background-info: #eaf4f9;
