* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body,
html {
  font-family: $font-primary;
  @include text;
  color: $black;
  background-color: $white-color;
  scroll-behavior: smooth;
}

body {
  padding-top: 114px;

  @media (max-width: 1024px) {
    padding-top: 104px;
  }
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 1170px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title-section {
  @include title-section;
}
