$font-primary: "Inter", sans-serif;

@mixin text {
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
}

@mixin text-small {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1;
}

@mixin link-menu {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
}

@mixin title-footer {
  font-weight: 600;
  font-size: 1em;
  line-height: 24px;
}
