$font-primary: "Inter", sans-serif;

@mixin text {
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
}

@mixin text-top {
  font-size: 0.813em;
  font-weight: 800;
  line-height: 18.46px;
}

@mixin input-search {
  font-size: 0.813em;
  font-weight: 500;
  line-height: 18.46px;
}

@mixin total-text {
  font-size: 0.75em;
  font-weight: 800;
  line-height: 1.5;
}

@mixin link-menu {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
}

@mixin link-footer {
  font-size: 1em;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.5px;
}

@mixin link-number {
  font-size: 1.125em;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.5px;
}

@mixin title-footer {
  font-size: 1.313em;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.5px;
}

@mixin link-list {
  font-size: 1em;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.5px;
}

@mixin title-certificates {
  font-size: 1em;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.5px;
}

@mixin text-bottom {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}

@mixin text-description {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 17.04px;
}

@mixin text-btn {
  font-size: 0.875em;
  font-weight: 800;
  line-height: 19.88px;
}

@mixin title-section {
  font-size: 2em;
  font-weight: 400;
  line-height: 45.44px;
}

@mixin title-product {
  font-size: 1em;
  font-weight: 400;
  line-height: 22.72px;

  @media (max-width: 768px) {
    font-size: 0.75em;
    line-height: 16px;
  }
}

@mixin price-product {
  font-size: 1.125em;
  font-weight: 800;
  line-height: 25.56px;
}

@mixin price-promotional {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 19.88px;
}

@mixin title-card-cat {
  font-size: 1.313em;
  font-weight: 800;
  line-height: 29.82px;
}

@mixin btn-card-cat {
  font-size: 0.938em;
  font-weight: 800;
  line-height: 21.3px;
}

@mixin title-feedback {
  font-size: 1.313em;
  font-weight: 700;
  line-height: 29.82px;
  letter-spacing: 0.5px;
}

@mixin title-cat {
  font-size: 2em;
  font-weight: 800;
  line-height: 45.44px;

  @media (max-width: 768px) {
    line-height: 1;
  }
}

@mixin description-cat {
  font-size: 1em;
  font-weight: 500;
  line-height: 22.72px;
}

@mixin text-select {
  font-size: 0.875em;
  font-weight: 700;
  line-height: 24px;
}

@mixin title-single {
  font-size: 1.313em;
  font-weight: 400;
  line-height: 29.82px;
}
